{% extends "layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<style>
    select {
        max-width: 30rem;
    }
</style>
<div class="containter p-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <!-- Settings form -->
            <form action="/settings" method="POST">

                {% for section in settings %} <!-- Populate with all the sections -->

                <section>
                    <!-- Section title -->
                    <h2>{{ section.sectionName }}</h2>

                    <!-- Section settings -->
                    {% for setting in section.sectionSettings %}
                        <!-- Setting -->
                        <div class="setting form-group">
                            <!-- Setting title -->
                            <strong><span>{{ setting.title }}</span></strong>

                            <!-- Setting Description -->
                            {% if setting.description%}
                                <p>{{ setting.description }}</p>
                            {% endif %}

                            <!-- Setting Widget -->
                            {% if setting.type == "select" %}

                            <select class="form-control">
                                {% for option in setting.options %}
                                {% if setting.default==option %}
                                <option value={{option}} selected>{{ option }}
                                {% else %}
                                <option value={{option}}>{{ option }}
                                {% endif %}
                                </option>
                                {% endfor %}
                            </select>

                            {% elif setting.type == "checkbox" %}

                            <input class="" type="checkbox" name={{
                                setting.title.replace(" ", "") }} value={{ setting.title.replace(" ", "") }} {{ "checked" if setting.default }}>
                            <label class=" form-check-label" for={{ setting.title.replace(" ", "") }}>{{ setting.option }}</label>

                            {% elif setting.type == "number" %} 
                                <input type="number" id={{setting.title.replace(" ", "") }} name={{ setting.title.replace(" ", "") }} min={{setting.min}} max={{ setting.max }} value={{setting.default}}>
                            {% endif %}

                        </div>
                    {% endfor %}
                </section>
                {% endfor %}
                <input class=" btn btn-primary" type="submit" value="Apply Settings and Reload">
                
            </form>
            <form action="/reload-settings" method="post">
                <button class=" btn btn-primary" name="forwardBtn" type="submit">Reload Settings</button>
            </form>

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}