{% extends "layout.html" %}
{% block title %}
Settings
{% endblock %}
{% block content %}
<style>
    select {
        max-width: 30rem;
    }

    .no-button-styles, .no-button-styles:focus {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .copy-setting-id {
        float: left;
        padding-right: 8px;
        margin-left: -32px;
        line-height: 1;
        display: none;
    }

    .settings-title{
        cursor: pointer;
    }
    .settings-title:hover > .copy-setting-id {
        display: block;
    }
</style>
<div class="containter p-3">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div  style="display: flex; align-items: center; justify-content: space-between; ">
                <h1>Settings</h1>
                <form action="/reload-settings" method="post" style="margin: 0!important;">
                    <button title="Reload the settings file and update screen." class="no-button-styles" name="forwardBtn" type="submit" style=>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M.01 0h24v24h-24V0z" fill="none"/><path d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.01-.25 1.97-.7 2.8l1.46 1.46C19.54 15.03 20 13.57 20 12c0-4.42-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6 0-1.01.25-1.97.7-2.8L5.24 7.74C4.46 8.97 4 10.43 4 12c0 4.42 3.58 8 8 8v3l4-4-4-4v3z"/></svg>
                    </button>
                </form>
            </div>
            
         <hr>
        </div>
        <div class="col-lg-3"></div>
        
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <!-- Settings form -->
            <form action="/settings" method="POST">

                {% for section in settings %} <!-- Populate with all the sections -->

                <section>
                    <!-- Section title -->
                    <h2>
                        {{ section.sectionName }}
                    </h2>

                    <!-- Section settings -->
                    {% for setting in section.sectionSettings %}
                        <!-- Setting -->
                        <div class="setting form-group">
                            <!-- Setting title -->
                            <strong><span class="settings-title">
                                <p onclick="copyToClipboard( '{{ setting.id }}' )" class="copy-setting-id" title="Copy settings id name">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
                                </p>
                                {{ setting.title }}
                            </span></strong>

                            <!-- Setting Description -->
                            {% if setting.description%}
                                <p>{{ setting.description }}</p>
                            {% endif %}

                            <!-- Setting Widget -->
                            {% if setting.type == "select" %}

                            <select class="form-control">
                                {% for option in setting.options %}
                                {% if setting.default==option %}
                                <option value={{option}} selected>{{ option }}
                                {% else %}
                                <option value={{option}}>{{ option }}
                                {% endif %}
                                </option>
                                {% endfor %}
                            </select>

                            {% elif setting.type == "checkbox" %}

                            <input class="" type="checkbox" name={{
                                setting.title.replace(" ", "") }} value={{ setting.title.replace(" ", "") }} {{ "checked" if setting.default }}>
                            <label class=" form-check-label" for={{ setting.title.replace(" ", "") }}>{{ setting.option }}</label>

                            {% elif setting.type == "number" %} 
                                <input type="number" id={{setting.title.replace(" ", "") }} name={{ setting.title.replace(" ", "") }} min={{setting.min}} max={{ setting.max }} value={{setting.default}}>
                            {% endif %}

                        </div>
                    {% endfor %}
                </section>
                {% endfor %}
                <input class=" btn btn-primary" type="submit" value="Apply Settings and Reload">
                
            </form>
            

        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function() {
            notify(`Code: ${text} successfully copied to clipboard!!`);
        }, function(err) {
            notify(`Async: Could not copy text: ${err}`);
        });
        
    }
</script>
{% endblock %}